
body {
   background-image: url("./_87558504_87558503.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   color: white;
   font-family: verdana;
   font-size: 150%;
}
a {
    color: #00664b;
    font-family: Kalam;
    font-size:  150%;
}

